.postsPage {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    background-color: #32407B;
}


.postsCont {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-left: 850px;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 560px;
    margin-top: 5px;
    margin-bottom: 50px;
    border: 3px solid silver;
    background-color: #5F6F94;
    padding: 10px;
    border-radius: 10px;
}

.h1Post {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 30px;
    border: 1px solid whitesmoke;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 10px;
    width: 100px;
    background-color: rgb(225, 214, 214);
    color: rgba(104, 86, 86, 0.749);
}

.inputsCont {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 670px;
    align-items: center;
    margin-left: 150px;
    margin-top: 20px;
    background-color: #5F6F94;
    border: 3px solid silver;
    border-radius: 10px;
}

.inputs {
    margin-top: 10px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-left: 5px;
}


.myPost {
    width: 400px;
    height: 330px;
    border-radius: 15px;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ccc;
    background-color: #fffbe6;
    text-align: left;
    background-image: linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 100% 24px;
    margin-top: 9px;
}


.selectInp {
    margin-top: 10px;
    height: 30px;
    width: 95px;
    font-style: italic;
    border-radius: 5px;
    margin-right: 290px;
    background-color: rgb(143, 109, 109);
}

.reactionBntsCont {
    display: flex;
    margin-top: 20px;
    padding-left: 85px;
    gap:40px;
}

.reactionBtn {
    display: flex !important;
    justify-content: space-between !important;
    background-color:rgb(255 255 255 / 75%) !important;
    min-width: 0 !important;
    font-size: 12px !important;
    width: 50px !important;
}

.confirmButt {
    margin-top: 10px;
    margin-left: 310px;
    height: 30px;
    width: 95px;
    border-radius: 5px;
    background-color: rgb(143, 109, 109);
}

.logo {
    width: 50px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid silver;
}

.imgUser {
    width: 380px;
    height: 350px;
    border-radius: 5px;
    border: 2px solid silver;
    margin-left: 9px;
}

.userInfo {
    display: flex;
}

.nameInfo {
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: 5px;
    height: 25px;
}

.contTextData {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.pData {
    margin: 0;
    margin-left: auto;
}